@model GalaxyBuildersSystem.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Tasks</h2>
<h4>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Lastname)</h4>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
    </tr>
    @foreach (var item in Model.Tasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                Not Done
            </td>
        </tr>
    }
    <tr>
        <td colspan="2">
            @Html.ActionLink("Add new Task", "AssignTask", new { id = Model.Id })
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to Team", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
