@model GalaxyBuildersSystem.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Tasks</h2>
<h4>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Lastname)</h4>
<br/>

<table class="table">
    @if (Model.Tasks.Count() > 0)
    {
        <tr>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th></th>
        </tr>
    }
    else
    {
        <label style="text-align:center">There are currently no tasks assigned to this employee</label>
    }
    @foreach (var item in Model.Tasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.IsDone)
                {
                    <font color="green"><b>Done</b></font>
                }
                else
                {
                    <span>Not done</span>
                }
            </td>
            <td>
                @Html.ActionLink("Remove Task", "RemoveTask", new { id = item.Id })
            </td>
        </tr>
    }
    <tr>
        <td colspan="2">
            @Html.ActionLink("Add new Task", "AssignTask", new { id = Model.Id })
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to Team", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
