@model IEnumerable<GalaxyBuildersSystem.Models.Employee>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Team</h2>

<label>
    @if (ViewBag.Role == "Manager")
    {
        <span>You are managing this team</span>
    }
    else
    {
         <span>Manager: @ViewBag.Manager</span>
    }
</label>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productivity)
        </th>
        @if (ViewBag.Role == "Manager")
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Id.ToString() == User.Identity.GetUserId())
            {
                <b>@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Lastname)</b>
            }
            else
            {
                <span>@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Lastname)</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productivity)
        </td>
        @if (ViewBag.Role == "Manager")
        {
            <td>
                @Html.ActionLink("Assign tasks", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        }
    </tr>
}

</table>
