@model IEnumerable<GalaxyBuildersSystem.Models.TeamRanking>

@{
    ViewBag.Title = "Team Ranking";
}

<h2>Team Ranking</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayName("Rank")</th>
        <th>
            @Html.DisplayName("Department")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productivity)
        </th>
        <th>@Html.DisplayName("Best Employee")</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productivity)
            </td>
            <td>
                <span>@Html.DisplayFor(modelItem => item.BestEmployee.Name) @Html.DisplayFor(modelItem => item.BestEmployee.Lastname)</span>
            </td>
        </tr>
    }

</table>