@model IEnumerable<GalaxyBuildersSystem.Models.GTask>

@{
    ViewBag.Title = "My Tasks";
}

<h2>My Tasks</h2>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAssigned)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAssigned)
                </td>
                <td>
                    @if (item.IsDone)
                    {
                        <span>Done</span>
                    }
                    else
                    {
                        @Html.ActionLink("Mark as done", "MarkAsDone", new { id = item.Id })
                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    <label style="text-align:center">There are currently no tasks assigned to you</label>
}

<div>
    @Html.ActionLink("Back to Team", "Index", "Employees")
</div>
